In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression


path = 'hiring.csv'
data = pd.read_csv(path)
data.experience.fillna(0,inplace=True)
data.test_score.fillna(data.test_score.mean(),inplace=True)
print(data)

# X = data.drop('salary',axis=1)

  experience  test_score  interview_score  salary
0          0    8.000000                9   50000
1          0    8.000000                6   45000
2       five    6.000000                7   60000
3        two   10.000000               10   65000
4      seven    9.000000                6   70000
5      three    7.000000               10   62000
6        ten    7.857143                7   72000
7     eleven    7.000000                8   80000

In [12]:
X = data.iloc[:,:3]
y = data.iloc[:,-1]

In [87]:
X

  experience  test_score  interview_score
0          0    8.000000                9
1          0    8.000000                6
2       five    6.000000                7
3        two   10.000000               10
4      seven    9.000000                6
5      three    7.000000               10
6        ten    7.857143                7
7     eleven    7.000000                8

In [13]:
# labels = [x for x in X.experience if not isinstance(x, int)]
# le = preprocessing.LabelEncoder()
# le.fit(labels)
# le.classes_
# X.experience = le.transform(X.experience)

def convert_to_int(word):
    alpha_numeric_dic = {
        'zero':0,
        'one':1,
        'two':2,
        'three':3,
        'four':4,
        'five':5,
        'six':6,
        'seven':7,
        'eight':8,
        'nine':9,
        'ten':10,
        'eleven':11,
        'twelve':12,
        0:0
    }
    return alpha_numeric_dic[word]

In [14]:
X.experience = X.experience.apply(lambda x: convert_to_int(x))
X.experience

0     0
1     0
2     5
3     2
4     7
5     3
6    10
7    11
Name: experience, dtype: int64

In [23]:
#model
regressor = LinearRegression()
regressor.fit(X,y)

LinearRegression()

In [25]:
regressor.predict([np.array([0,8.00,6])])[0]

45722.686442626735

In [96]:
#save model
pickle.dump(regressor,open('model.pkl','wb'))

In [1]:
from flask import Flask,request,jsonify, render_template

In [7]:
app = Flask(__name__)
model = pickle.load(open('model.pkl','rb'))

In [8]:
@app.route('/')
def Home():
    return render_template('index.html')

In [27]:
@app.route('/predict',methods = ['POST'])
def predict():
    input = request.form.values()
    input_int = [int(x) for x in input]
    prediction = round(model.predict([np.array(input_int)])[0],2)
    return render_template('index.html',prediction_text = 'Employe Salary Should be ${}'.format(prediction))



@app.route('/predict_api',methods = ['POST'])
def predict_api():
    data = request.get_jason(force = True)
    prediction = model.predict([np.array(list(data))])[0]
    return jsonify(prediction)

In [ ]:
if __name__ == '__main__':
    app.run(debug = True)

In [17]:
int((43200+5000)/5000)*5000

45000